extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam voluptatum, rem minus animi libero quasi ipsa maxime corporis unde fugit praesentium nesciunt tempore odit veniam quidem, neque nobis ullam possimus.Et consequuntur nesciunt necessitatibus nemo alias?
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi exercitationem architecto officia suscipit possimus quos aliquam placeat, eaque temporibus ipsa magni aspernatur facere. Reiciendis quas ullam asperiores recusandae ratione doloremque.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotos" class="img-fluid")

        include ./layout/bloque_viajes
        
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h1 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022
                        p.precio U$s 2500
    .container
        h2.mt-5.text-center Opiniones
        include ./layout/bloque_testimoniales